* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
.tochange{
  margin-left:550px;
}
.desappearsettings{
    padding-left:1px;
    opacity:1;
}
.title{
  border-bottom:gray solid 1px;
  text-align: center;
  padding-bottom:30px;
}
.select1{
    opacity:1;
    padding-left: 400px
}
  .select{
    padding-left:400px;
    opacity:0;
  }
  
  
  .leftcolumn {   
    padding-top:30px;
 
    width: 18%;
  }
  .rightcolumn {
 
    left:350px;

    width: 72%;
   
  }
 
  .treenone{
    opacity:0;
    padding-top:30px;
    float: left;
    width: 18%;
}

.treetablecon{
  display:flex;
  flex-direction:row;
  justify-items: center;
  padding-left: 600px;
} 
.treetablecon1{
  padding-top:30px;
  display:flex;
  flex-direction:row;
  padding-left: 120px;
} 