* {
  box-sizing: border-box;
}
 
.tochange{
margin-left:550px;
}
.desappearsettings{
  padding-left:1px;
  opacity:1;
}
.title{
border-bottom:gray solid 1px;
text-align: center;
padding-bottom:30px;
}
.ss{
  padding-left: 400px
}
.select1{
  opacity:1;
  padding-left: 400px
}
.select{
  padding-left:400px;
  opacity:0;
}


.leftcolumn {   
position:absolute;
left:10px;
  width: 16%;
}
.leftcolumn2 {   
  position:absolute;
  left:640px;
    width: 16%;
  }

.rightcolumn {
  position:absolute;
  left:280px;

  width: 72%;
 
}

.treenone{
  opacity:0;
  padding-top:30px;
  float: left;
  width: 18%;
}

.treetableItemscon{
display:flex;
flex-direction:row;
justify-items: center;
padding-left: 600px;
} 
.treetableItemscon1{
padding-top:30px;
display:flex;
flex-direction:row;
padding-left: 120px;
} 


@for $i from 1 to 5{
  .color-#{$i}-set{
    .unwhite{
      background: lighten(nth(brown purple blue green, $i), 10%);
      color: white;
    }
    .white { 
      background: lighten(nth(brown purple blue green, $i), 30%);
      color: white;
 
    }
    .green{ 
        background: darken(nth(brown purple blue green, $i), 10%) ;
        color: white;
        transition: background 1s
    }
  } 
}
 
