.pagbtn{
    padding-left: 5px;
    cursor: pointer;
}

.green{
    background-color:green
}
.white{
    background-color:white
}

  .s {
    overflow: hidden;
 
    transition : transform 0.8s;;
}
.s1 {
    transform: rotate(360deg);
 
}
.disppag{
    width:20px;
    padding-right:10px;
}
 
.next{
    text-decoration:underline;
    cursor:pointer;
}