.treemove{display:flex;
    flex-direction:row;
width:110px;
padding-left:400px;
}   
.btn1{ 
       cursor:pointer;
    background-color:rgb(120, 219, 120);
width:100px;
text-decoration:underline;
} 