.searched {
  height: 10px;
  margin-left: 220px;
  margin-right: 30px;
}
.pagcon {
  display: flex;
  flex-direction: row;
}
.table {
  opacity: 1;
  transition: opacity 1s;
}
.displayAnimated {
  opacity: 0;
  transition: opacity 1s;
}
